* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #F5F7FB;
    font-family: karla, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #293264;
}

.intro,
.quiz-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro h1 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 3rem;
    line-height: 37px;
}

.intro p {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 19px;
}

button {
    margin: 20px;
    font-size: 1.2rem;
    color: #F5F7FB;
    padding: 12px 28px;
    background: #4D5B9E;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.quiz-section {
    padding: 0 20px;
}

.question-section {
    padding: 22px 0 0;
    max-width: 600px;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 19px;
}

.question-section p {
    margin-bottom: 16px;
}

.answer-options {
    display: inline-block;
    margin: 0 20px 10px 0;
    cursor: pointer;
    border-radius: 8px;
    padding: 6px 16px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 12px;
    border: 2px solid #4D5B9E;
}

.selected {
    background: #D6DBF5;
    border: 2px solid #D6DBF5;
}

.correct {
    background: #94D7A2;
    border: 2px solid #94D7A2;
}

.incorrect {
    background: #F8BCBC;
    border: 1px solid #F8BCBC;
}

.question-section hr {
    color: #DBDEF0;
    margin-top: 16px;
}

.btn-container {
    display: flex;
    justify-content: center;
}